/* .block {
  width: 200px;
  height: 200px;
  padding: 20px;
  border: 10px solid #f88;
  margin: 30px
} */

a {
  /* display: inline; */
  background-color: #47c7c7;
}

main {
  background-color: #456;
  height: 75%;
  width: 75%;
}

.container {
  /* display: block; */
  width: 50%;
  height: 50%;
  background-color: #765757;
}

.block {
  width: 50%;
  height: 100px;
  background-color: #f33;
}