html {
  /* font-size: 64px; */
}

/* px, em , rem and % */

h1 {
  color: #f33;
  color: rgba(255, 100, 30, 0.5);
  color: rgb(120, 55, 55);
  font-size: 2em; 
  /* 2 x 16px */
}

/* .navigation {
  font-size: 20px
} */

header {
  font-size: 2em;
  /* 2 x 16px = 32px */
}

a {
  font-size: 1rem;
  /* 1 x 16px */
}





